{% extends 'base/navbar.html'%}
{% block delete %}{%endblock%}
{% load static %}
  {% block contact %}
      <li class="nav-items active">
        <a class="nav-link" href="{% url 'base:contact'%}">Contact</a>
      </li>
        {% endblock %}
{%block body %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}
forms {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;

  margin: 8px 0px;

  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

buttons {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

buttons:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;

  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>

<form action="" class="forms" method="post">
  {% csrf_token %}



  <div class="container">
     {% for message in messages%}

                   <div class="alert {{message.tags}} alert-dismissible" style="padding-left:5%;" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="True">&times;</span>
                     </button>
                     {{message}}
                   </div>

                  {%endfor%}
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" id="uname"  name="email" required>

    <label for="psw"><b>Name</b></label>
    <input type="text" placeholder="Enter your name" id="psw" name="pass" required>
       <label for="psw"><b>Subject</b></label><br>
    <textarea id="subject" class="pt-2 pl-3" name="subject" rows="45"placeholder="Write something.." style="height:200px; width:100%;"></textarea><br>

    <button type="submit" class="btn btn-success mt-3 w-15" >Send Message</button><br/><br/>

  </div>


</form>



</div>




</div>

{%endblock%}