<!DOCTYPE html>

{% extends 'base/navbar.html'%}

{% block delete%}{%endblock%}
 {% block update %}{%endblock%}
 {% block home %}
      <li class="nav-items active">
        <a class="nav-link" href="{% url 'base:index'%}">Home <span class="sr-only">(current)</span></a>

      </li>
        {%endblock %}

<!--carousel start here-->
{%block body%}
{%load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<br/>
<div class="container">


           <div class="row">
               {% for posts in post reversed %}
               <div class="col-sm-12 col-md-12 col-lg-4">
                     <div class="card mb-4">
                         {% if posts.image %}
                                <a href=" {% url 'base:single' posts.id %} "><img class="card-img-top" src='{{posts.image.url}}' width="700" height="250" alt="..." /></a>
                         {%else%}
                          <a href=" {% url 'base:single' posts.id %} "><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>

                         {%endif%}

                                <div class="card-body">
                                    <div class="small text-muted">Posted on: {{posts.created}}</div>
                                    <h2 class="card-title h4">{{posts.topic}} </h2>
                                    <p class="card-text">{{posts.summary|truncatewords:50|safe}}</p>

                                    <a class="btn btn-primary" href=" {% url 'base:single' posts.id %} ">Read more →</a><br><br>
                                    <hr/>
                                    <div class="text-center">
                                         &nbsp; <i class='far fa-comment-alt' style='font-size:20px; color:black;'></i></i> &nbsp;&nbsp;&nbsp;{{posts.post_comments_set.all.count}}


<!--                                    &nbsp; <span class=""> You Likes: </span>{{posts.blog_like_set.all.count}}-->

                                  &nbsp;  <i class="fa fa-solid fa-thumbs-up" style='font-size:20px; color:black;'></i> &nbsp;&nbsp;&nbsp;{{posts.blog_like_set.all.count}}
                                     &nbsp; <i class="fa fa-solid fa-eye" style='font-size:20px; color:black;'></i>  &nbsp;&nbsp;&nbsp;{{posts.view_set.all.count}}


                                    </div>





                                </div>
                            </div>

               </div>
               {%endfor%}




           </div>

        </div>

<!--search bar start here-->
<!--         <div class="col-sm-12 col-md-12 col-lg-3">-->
<!--             <div class="card mb-4">-->
<!--                        <div class="card-header">Search</div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="input-group">-->
<!--                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />-->
<!--                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->

<!--              <div class="card mb-4">-->

<!--                        <div class="card-header">Categories</div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-6">-->
<!--                                    <ul class="list-unstyled mb-0">-->
<!--                                        <li><a href=" {% static '#!' %} ">Web Design</a></li>-->
<!--                                        <li><a href=" {% static '#!' %} ">HTML</a></li>-->
<!--                                        <li><a href=" {% static '#!' %} ">Freebies</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <ul class="list-unstyled mb-0">-->
<!--                                        <li><a href=" {% static '#!' %} ">JavaScript</a></li>-->
<!--                                        <li><a href=" {% static '#!' %} ">CSS</a></li>-->
<!--                                        <li><a href=" {% static '#!' %} ">Tutorials</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--        </div>-->

<!--    </div>-->
    <br/>

    <div class="container">
        <div class="text-center">
          <h2 class="text-center btn btn-success">Latest News Section</h2>
        </div>

        <div class="row">
            <br><br>
              {% for i in news  %}

                    <div class="col-sm-12 col-md-12 col-lg-4">
                     <div class="card mb-4">
                         {% if i.urlToImage %}

                                <a href="{{i.url}}"><img class="card-img-top" src='{{i.urlToImage}}'   width="600" height="250" alt="..." /></a>
                                {%else%}
                                     <a href="{% static 'base/img/news.jpg' %}"><img class="card-img-top" src='{{i.urlToImage}}'    width="600" height="250" alt="..." /></a>
                               {%endif%}
                                <div class="card-body ">
                                    <div class="small text-muted">Posted on: {{i.publishedAt}}</div>
                                    <h2 class="card-title h4">{{i.title|truncatewords:20|safe}} </h2>
                                    <p class="card-text">{{i.description|truncatewords:50|safe}}</p>

                                    <a class="btn btn-primary" href="{{i.url}}">Read more →</a><br><br>
                                    <hr/>

                                    <span>source:</span>&nbsp;{{i.source.name}}

                                </div>
                            </div>

               </div>

               {%endfor%}
        </div>
    </div>

<br/>


</div>

{%endblock%}